@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap');

body, h1, h2, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color:darkgray;
    color:black;
}

h1 {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

ol {
    list-style-type: decimal;
    margin-left: 20px;
    margin-bottom: 20px;
}

a {
    color: #0078d4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.image-trigger:hover + .image-preview {
    display: block;
}

.image-trigger:hover + img {
    display: none;
}

.image-preview {
    display: none;
    position: absolute;
    width: 100px; 
    height: 100px;
    background-image: url('brown_sugar.png');
    background-size: cover;
}
.image-container {
    display: none;
    position: absolute;
    margin-top: -40px;
}
.image-container img {
    width: 80px; 
    height: auto; 
}

.hover-trigger:hover + .image-container {
    display: block;
}
