@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: burlywood;
    margin: 0;
    padding: 0;
}

.typed-out {
    overflow: hidden;
    white-space: nowrap;
    font-size: 30pt;
    width: 0;
    animation: typing 1.3s steps(20, end) forwards;
    text-align: center;
    color: brown;
    margin-bottom: 20px;
    font-weight: bold;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%}
}

img {
    display: block; 
    margin: 0 auto;
    max-width: 100%;
    width: 300px;
    height: auto;
    border: 1px solid white;
}

h1 {
    text-align: center;
    color: brown;
    margin: 20px 0;
}

h2 {
    font-size: 1.5rem;
    color: black;
    margin: 20px 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

ul li {
    font-style: italic;
    color: black;
    padding-left: 20px;
}

h4 {
    font-size: 1.2rem;
    color: chocolate;
    margin: 10px 0;
}

ol li {
    color: black;
    margin: 10px 0;
}

.recipe-container {
    background-color: wheat;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    margin-bottom: 15px;
}

.section {
    display: flex;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: beige;
}

.left-column, .right-column {
    flex: 1;
    padding: 10px;
}

.left-column {
    border-right: 1px solid #ddd;
}

.right-column {
    padding-left: 20px;
}
